@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
    /* Typography */
    --regular-font: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;

    --heading-font: "Lato", system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        monospace, sans-serif;

    /* h5 font size paragraph */
    /* start of for small mobile  (576px and down) */
    /* start of for mobile  (576px and up) */

    /* start of for mobile */

    --font-size-h1: 2.488rem;

    --font-size-h2: 2.074rem;

    --font-size-h3: 1.728rem;

    --font-size-h4: 1.44rem;

    --font-size-h5: 1.2rem;

    /* major third 1.200 */
    /* end of for mobile */

    --font-size-h6: 1rem;

    --box-shadow-1: 1px 2px 2px #000, -1px -2px 2px #000;
    --box-shadow-2: 2px 4px 6px #000;

    --transition-8: all 0.8s ease-in-out;
    /* colors */
    --primary-color: #1A120B;
    --secondary-color: #3C2A21;
    --tertiary-color: #D5CEA3;
    --background-color: #E5E5CB;

    --gradient: linear-gradient(21deg, var(--primary-color) 0%, var(--secondary-color) 100%);
}

*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--regular-font);
    font-size: 100%;
    background-color: var(--background-color);
}

html {
    scroll-behavior: smooth;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
}

/* mobile */

h1 {
    font-size: var(--font-size-h1);
}

h2 {
    font-size: var(--font-size-h2);
}

h3 {
    font-size: var(--font-size-h3);
}

h4 {
    font-size: var(--font-size-h4);
}

h5 {
    font-size: var(--font-size-h5);
}

h6 {
    font-size: var(--font-size-h6);
}

p {
    font-size: var(--font-size-h5);
}


.btn{
    display: block;
    padding: .5rem 1rem;
    font-size: var(--font-size-h5);
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: bold;
background-color: var(--tertiary-color);
color: var(--secondary-color);
    margin: 0 auto;
border: none;
border: 1px solid var(--primary-color);
transition: var(--transition-8);
cursor: pointer;
border-radius: .5rem;
}


.btn:hover{
    background-color: var(--secondary-color);
    color: white;
    transform: translateY(5px);
}




// main


.popup{
    background-color: var(--tertiary-color);
    border-radius: 1rem;
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    height: 3rem;
    gap: 1rem;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    box-shadow: var(--box-shadow-1);

&__text{
    font-size: var(--font-size-h4);
color: var(--secondary-color);
}

&__text__success{
    color: green;
}
&__text__danger{
    color: red;
}

}


.exclamation{
    font-size: 2rem;
    display: block;
    margin-top: .6rem;
}


.main{
    
    &__container{
width: 90vw;
background-color: white;
max-width: 300px;
margin: 0 auto;
margin-top: 5rem;
border-radius: .5rem;
padding-bottom: 2rem;
padding-top: 1rem;
}

}




.task{
    text-align: center;
    font-size: var(--font-size-h4);
    text-transform: capitalize;
    color: var(--primary-color);
    text-shadow: 1px 2px 2px var(--primary-color);
    padding: 1rem;
    letter-spacing: 1px;
    padding-bottom: 0;

&__input{
padding: 0.8rem .2rem;
width: 100%;
border-radius: 1rem;
padding-left: 0.8rem;
transition: var(--transition-8);
border-color: var(--tertiary-color);
}
&__input::placeholder{
    text-transform: capitalize;
    letter-spacing: 1px;
    color: gray;
}


&__input:hover{
    outline: none;
    background-color: whitesmoke;
    border-color: var(--secondary-color);
}

}

.underline{
    height: 5px;
    width: 120px;
    background-color: var(--secondary-color);
    margin: 0 auto;
    margin-bottom: 1rem;
}


.form__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
    gap: 1rem;
}


.btn--task{
    padding: .6rem 1rem;
&:hover{
    color: white;
}

}

.content__container{
    padding-top: 1rem;
}

.task__content{
    display: flex;
    align-items: center;
    padding: .5rem 2rem;
    justify-content: space-between;
    gap: 1rem;
}

.btn__group{
display: flex;
}


.task__text{
    font-size: var(--font-size-h4);
    letter-spacing: 1px;
    color: var(--primary-color);
    word-break: break-all;
}


.task__edit,.task__delete{
    background-color: transparent;
    font-size: 1.5rem;
    color: var(--secondary-color);
    border: none;
margin: 0.2rem;
cursor: pointer;
}


.task__edit:hover{
    color: orange;
}
.task__delete:hover{
    color: red;
}


.btn--clear{
    margin-top: 2rem;
    font-size: var(--font-size-h6);
}



@media (min-width : 600px) {
    .main__container{
        max-width: 600px;
    }
.form__container {

flex-direction: row;
gap: 0.1rem;

}

}